{{ content }}
    {{ if type == 'hero' }}
    <section class="prose lg:prose-xl max-w-none py-8 prose-a:text-blue-600 prose-a:hover:text-blue-500">
        <h1>{{ title }}</h1>

        {{ content | widont }}
    </section>
    {{ /if }}

    {{ if type == 'section' }}
    <section class="prose lg:prose-xl max-w-none py-8 prose-a:text-blue-600 prose-a:hover:text-blue-500">
        <h2>{{ title }}</h2>

        {{ content | widont }}
    </section>
    {{ /if }}

    {{ if type == 'cta' }}
    <section class="prose lg:prose-xl max-w-none p-8 bg-blue-200 rounded-2xl">
        {{ content | widont }}

        <a href="{{ button_link }}" class="rounded-md bg-blue-600 inline-block no-underline px-3 py-2 text-white shadow-xs hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">{{ button_label }}</a>
    </section>
    {{ /if }}

    {{ if type == 'form' }}
    <section class="prose lg:prose-xl max-w-none p-8 bg-blue-200 rounded-2xl">
        {{ form:create :in="form_field" }}
            {{ if success }}
                <div>
                    {{ success }}
                </div>
            {{ else }}
                {{ if errors }}
                    <div class="bg-red-300 text-white p-2">
                        {{ errors }}
                            {{ value }}<br>
                        {{ /errors }}
                    </div>
                {{ /if }}

                <div class="flex flex-col gap-4 mb-4">
                {{ fields }}
                    <div>
                        <label class="block font-medium text-gray-900">{{ display }}</label>
                        <div class="p-1">{{ field }}</div>
                        {{ if error }}
                            <p class="text-gray-500">{{ error }}</p>
                        {{ /if }}
                    </div>
                {{ /fields }}
                </div>


                <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">

                <button type="submit" class="rounded-md bg-blue-600 px-3 py-2 text-white shadow-xs hover:bg-blue-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Submit</button>
            {{ /if }}
        {{ /form:create }}
    </section>
    {{ /if }}
{{ /content }}
